# dependencies
node_modules
.next
.swc

# production
/build

# misc
.DS_Store
.env
tmp

#expo
.expo
dist
# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*