node_modules
.svelte-kit
.DS_Store
.env
*.db
package-lock.json
bun.lock
_archive/scripts/tmp

# Pocketbase
.pocketbase
pb_data

# Test binary, built with "go test -c"
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE specific files
.vscode
.idea

# .env file
.env

# Project build
main