node_modules
.svelte-kit
.DS_Store
.env
*.db
package-lock.json
bun.lock
tmp
_archive/scripts/tmp

# Pocketbase
.pocketbase
pb_data

# Project build & test binary, built with "go test -c"
*.test
main

# React Router
.react-router/
build/