package components

templ Alert(title string, message string) {
	<div class="w-full px-5 py-2 rounded-lg border border-transparent bg-red-800 text-white">
		<h5 class="mb-2 font-medium leading-none tracking-tight">{ title }</h5>
		<div class="text-sm opacity-80">{ message }</div>
	</div>
}
