package views

templ Layout(title string, body templ.Component) {
	<html>
        <head>
            <title>{ title }</title>
            <style>[x-cloak]{display:none}</style>
            <script src="https://unpkg.com/alpinejs" defer></script>
            <link rel="stylesheet" href="/static/styles.css"/>
        </head>
        <body>
            @body
        </body>
    </html>
}